.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #3faf82;
  color: #fff;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-icon {
  width: 80px;
  cursor: pointer;
}

.line-1,
.line-2,
.line-3 {
  width: 100%;
  height: 8px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

.line-2 {
  margin: 14px 0;
}

.no-animation {
  animation: none !important;
}

.menu-icon .line-1 {
  animation: line-1-anim-rev 0.7s ease-in-out;
}

.menu-icon .line-2 {
  animation: line-2-anim-rev 0.7s ease-in-out;
}

.menu-icon .line-3 {
  animation: line-3-anim-rev 0.7s ease-in-out;
}

.menu-icon.active .line-1 {
  animation: line-1-anim 0.7s ease-in-out forwards;
}

.menu-icon.active .line-2 {
  animation: line-2-anim 0.7s ease-in-out forwards;
}

.menu-icon.active .line-3 {
  animation: line-3-anim 0.7s ease-in-out forwards;
}

@keyframes line-1-anim {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, 22px, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, 22px, 0) rotate(45deg);
  }
}

@keyframes line-2-anim {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes line-3-anim {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, -22px, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, -22px, 0) rotate(135deg);
  }
}

@keyframes line-1-anim-rev {
  0% {
    transform: translate3d(0, 22px, 0) rotate(45deg);
  }
  50% {
    transform: translate3d(0, 22px, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@keyframes line-2-anim-rev {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes line-3-anim-rev {
  0% {
    transform: translate3d(0, -22px, 0) rotate(135deg);
  }
  50% {
    transform: translate3d(0, -22px, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}
