body {
  background-color: skyblue;
}
.frame {
  width: 400px;
  height: 400px;
  background-color: #cc8351;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.4);
}
.center {
  width: 300px;
  height: 302px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.3);
}
#name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #796450;
  margin-left: 10px;
}
#job {
  font-family: sans-serif;
  font-size: 8px;
  color: #796450;
  margin-left: 20px;
}
.button-box {
  display: flex;
  flex-direction: column;
}
.photo {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-color: #796450;
  border-radius: 2px;
  border: 1px solid #796450;
  border-radius: 50%;
}
.follow {
  color: #796450;
  font-size: 12px;
  width: 100px;
  border: 1px solid #796450;
  padding: 3px 15px;
  border-radius: 10%/50%;
  text-align: center;
  cursor: default;
  background-color: #fff;
  transition-duration: 500ms;
  position: absolute;
  bottom: -75px;
}

.message {
  color: #796450;
  font-size: 12px;
  width: 100px;
  border: 1px solid #796450;
  padding: 3px 15px;
  border-radius: 10%/50%;
  text-align: center;
  cursor: default;
  background-color: #fff;
  position: absolute;
  bottom: -40px;
  transition-duration: 500ms;
}

button:hover {
  background-color: #796450;
  color: #fff;
}

.profile {
  position: absolute;
  top: 25%;
  left: 20%;
  transform: translate(-20%, -20%);
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.posts,
.likes,
.followers {
  width: 100px;
  height: 100px;
  margin-left: 200px;
  background-color: #f5e8df;
  cursor: pointer;
  color: #796450;
}
.posts {
  margin-bottom: 1px;
}
.likes {
  margin-bottom: 1px;
}

#number {
  color: #796450;
}

#type {
  font-size: 8px;
  position: relative;
}

.container :hover {
  background-color: #e0c7ae;
}
img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
